.main-container {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.title {
  width: 100%;
  text-align: center;
}

.help-txt {
  color: #7a7782;
}

.line-item {
  padding: 3px 9px !important;
}

.my-icon {
  cursor: pointer;
}