.main-container {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.title {
  width: 100%;
  text-align: center;
}

.site-mg {
  height: 80px;
  border: solid 1px #a7a0a052;
}

.siteimg-div {
  width: 100%;
  height: 80px;
  text-align: center;
}

.small-padding {
  height: 3px;
}